[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "4.24.0"
loguru = "0.7.2"
python-decouple = "3.8"
2captcha-python = "1.2.8"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
